@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Colors */
    --highlighted-item : #5D5FEF;
    --highlighted-item-hovered : #373895;
    --title : #2B3674;
    --bold-text : #151D48;
    --link : #007AFF;
    --black : #000000;
    --white : #FFFFFF;
    --input-background : #F2F2F2;
    --placeholder-text-highlighted : rgb(115, 119, 145);
    --placeholder-text : #9297b8;
    --icon-color : #5f5f5f;
    --icon-color-hovered : #3d3d3d;
    /* --read-announcement-background : #cccccc; */
    --read-announcement-background : #c0c1f3;
    --background : #FAFAFA;
    --border-color : #E9EDF7;
    --success-message-color : #28A745;
    --delete-btn : #E74C3C;
    --delete-btn-hover : #C0392B;
    --succes-message-background : #429164;
    --fail-message-background : #642424;
    /* Fonts */

    --title-size : 36px;
    --title-weight : 600;
    --title-font : 'Poppins', sans-serif;

    --label-size : 12px;
    --label-weight: 400;
    --label-font : 'Poppins', sans-serif;

    --placeholder-size : 14px;
    --placeholder-weight : 400;
    --placeholder-font : 'Roboto', sans-serif;

    --subtitle-size : 16px;
    --subtitle-weight : 600;
    --subtitle-font : 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100dvh;
}

#root {
    height: 100%;
    overflow: hidden;
}

.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
}

.page-right {
    flex: 1;
}

.landing-page-background {
    background: rgb(82,112,255);
    background: linear-gradient(90deg, rgba(82,112,255,1) 2%, rgba(20,38,124,1) 100%);
    /* width: 100%; */
    flex: 1;
    display: grid;
    place-items: center;
}

.btn {
    background-color: var(--highlighted-item);
    padding: 16px;
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-family: var(--placeholder-font);
    font-size: var(--placeholder-size);
    font-weight: var(--placeholder-weight);
    width: 150px;
}

.btn:hover {
    background-color: var(--highlighted-item-hovered);
    cursor: pointer;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 4px;
    min-width: 250px;
}

.label {
    font-family: var(--label-font);
    font-size: var(--label-size);
    font-weight: var(--label-weight);
    color: var(--black);
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input {
    border: 2px solid transparent;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s;
    outline: none;
    border-radius: 8px;
    background-color: var(--input-background);
    padding: 8px;
    width: 100%;
}

.input::placeholder {
    color: var(--placeholder-text);
    font-family: var(--placeholder-font);
    font-size: var(--placeholder-size);
    font-weight: var(--placeholder-weight);
}

.input:hover, .input:focus, .input-container:hover .input  {
    border-color: var(--highlighted-item);
}

.input-container:hover .label, .input:focus {
    color: var(--highlighted-item);
}

ul li {
    margin-bottom: 12px;
}

.search-result-list {
    list-style: none;
}

.success-message {
    color: var(--success-message-color);
    font-family: var(--label-font);
    font-size: var(--label-size);
    font-weight: var(--label-weight);
}

.error-message {
    color: red;
    font-family: var(--label-font);
    font-size: var(--label-size);
    font-weight: var(--label-weight);
}

.search {
    display: flex;
    align-items: center;
    column-gap: 16px;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.search-options {
    display: flex;
    column-gap: 16px;
    align-items: center;
    /* width: 75%; */
}

.expand-btn {
    border: none;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 8px;
    border: 1px solid var(--placeholder-text);
    cursor: pointer;
}

.icon {
    fill: var(--highlighted-item);
    cursor: pointer;
}

.icon.icon-highlighted {
    fill: var(--white);
    cursor: pointer;
}

.icon-faded {
    fill: var(--icon-color);
    cursor: pointer;
}

.icon-faded:hover {
    fill: var(--icon-color-hovered);
}

.main-content {
    width: 100%;
    height: 94dvh;
    overflow-y: auto; /* Enables scrolling for overflowing content */
    padding: 24px;
    display: flex; /* Ensures child respects flex rules */
    flex-direction: column; /* Aligns items vertically */
}

.main-content-container {
    flex-grow: 1; /* Ensures it occupies the full height of the parent when content is short */
    display: flex; /* Use flex for child layout */
    flex-direction: column; /* Ensures vertical stacking inside */
    row-gap: 16px; /* Adds gap between children */
}



.unit-container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 24px;
    border-radius: 8px;
    font-family: var(--placeholder-font);
    font-size: var(--placeholder-size);
    font-weight: var(--placeholder-weight);
    color: var(--black);
    border: 1px solid var(--placeholder-text);
    line-height: 1.1;
}

.unit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.unit-header-info {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.unit-subject {
    font-family: var(--subtitle-font);
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    color: var(--title);
}

.unit-body {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 12px;
}

.unit-body-section {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.unit-section-title {
    text-decoration: underline;
    font-family: var(--subtitle-font);
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    color: var(--title);
}

.unit-section-text {
    max-width: 75ch; /* Restrict width to 50 characters */
    word-wrap: break-word; /* Break long words if necessary */
    overflow-wrap: break-word; /* Ensures breaking long words for modern browsers */
}